body {
    background-color: white;
    color: black;
  }
  
  mat-form-field, mat-radio-group {
    color: black;
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .dark-mode mat-form-field, .dark-mode mat-radio-group {
    color: white;
  }
  
  .dark-mode .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: white;
  }